/* Custom Tab Styling for Corporate Color */
.nav-tabs .nav-link.active {
    background-color: #31666f !important;
    border-color: #31666f #31666f #fff !important;
    color: #fff !important;
}

.nav-tabs .nav-link:hover {
    border-color: #31666f #31666f #dee2e6 !important;
    color: #31666f !important;
}

.nav-tabs {
    border-bottom-color: #dee2e6;
}

.nav-tabs .nav-link {
    color: #495057;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

/* Custom Tab Color Class */
.nav-corporate .nav-link.active {
    background-color: #31666f !important;
    border-color: #31666f #31666f #fff !important;
    color: #fff !important;
}

.nav-corporate .nav-link:hover {
    border-color: #31666f #31666f #dee2e6 !important;
    color: #31666f !important;
}
